textarea{ 
    width: 600px; 
    min-width:600px; 
    max-width:600px; 
  
    height:300px; 
    min-height:300px;  
    max-height:300px;
    resize:none;
  }
button {
    margin:1em
    }
input{
    width:600px;
    min-width:600px;
    max-width:600px;
}
body {
  margin: 3em;
}
 
